[2017-03-02 03:03] mabn opened #4 "Errors happening in the controller in Spring boot should not create follows-from span"
This is related to this comment: https://github.com/opentracing-contrib/java-spring-web/pull/1#issuecomment-280684207 and this spring issue: https://jira.spring.io/browse/SPR-15265

Basically now in Spring Boot with embedded container the request which throws exception from the controller creates two spans, the timeline is following:

1. span GET /url is started
2. exception thrown inside controll

[2017-03-22 14:50] pavolloffay opened #6 "Instrument AsyncRestTemplate"
Instrument AsyncRestTemplate [1] and provide auto-configuration.

[1]: javadoc http://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/client/AsyncRestTemplate.html

[2017-03-27 16:39] pavolloffay opened #8 "Rename opentracing-spring-web-handler-interceptor to something more appropriate"
All the instrumentations are using `org.springframework#spring-webmvc` (spring web and http clients) and instrumentation artifactId is `opentracing-spring-web-handler-interceptor` and `auto-configuration opentracing-spring-web-autoconfigure`.

Should we change `opentracing-spring-web-handler-interceptor` to something like `opentracing-spring-web/opentracing-spring-webmvc` as it includes all instru

[2017-04-03 12:08] pavolloffay commented on #8
I think we have these options:

1. keep only `opentracing-spring-web-handler-interceptor`
2. rename `opentracing-spring-web-handler-interceptor` to `opentracing-spring-web`
3. introduce `opentracing-spring-web-resttemplate`

`opentracing-spring-web-handler-interceptor` uses `spring-webmvc` which internally uses `spring-web`.
Artifact with restTemplate instrumentation could use only `spring-web` wh

[2017-04-03 13:50] objectiser commented on #8
I think it may be better to consolidate all spring (-web) related framework integration into a single repo. Otherwise there is potentially alot of fragmentation for essentially the same technology stack.

[2017-04-04 07:33] pavolloffay commented on #8
@objectiser it's not about another repo but about a separate artifact for client instrumentation. Client instrumentation would depend only on `spring-web` which contains the most important interfaces not the whole MVC stack.

Server side instrumentation depends on `spring-webmvc` which depends on `spring-web`. The reason to introduce new artifact is for users who would like to use `RestTemplate` w

[2017-04-04 07:58] objectiser commented on #8
@pavolloffay Sorry misunderstood - but same applies to artifact - best to have a single artifact, so would go with option 2.

Is there a particular reason autoconfigure is a separate artifact?

[2017-04-04 08:03] pavolloffay commented on #8
Yes, autoconfigure does not work in plain MVC.

[2017-04-04 08:05] pavolloffay commented on #8
I would like to keep instrumentations units as small as possible and then combine via something like autoconfigure. We might add more auto-configurations for even different frameworks - like in spring-cloud-sleuth.

[2017-04-04 09:13] pavolloffay commented on #8
Closing, implemented in https://github.com/opentracing-contrib/java-spring-web/pull/11

[2017-04-04 09:13] #8 closed

[2017-05-09 14:38] #6 closed

[2017-06-03 15:13] sweatybridge opened #23 "check if activeSpanStack is empty before pop"
The current implementations for TracingHandlerInterceptor.java throws java.util.NoSuchElementException at runtime when the active span stack is empty. The null check happens only after the exception is thrown. The affected lines are:

1. https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/interceptor/TracingHandl

[2017-06-03 15:18] sweatybridge commented on #23
I believe this is a regression caused by 0.0.5 as the previous version seems to work fine.

[2017-06-05 07:56] pavolloffay commented on #23
@sweatybridge do you have a reproducer? It should not happen that stack is empty in `afterConcurrentHandlingStarted` or `afterCompletion`.

[2017-06-05 11:29] sweatybridge commented on #23
Yup, I've created a new branch on my benchmark app (https://github.com/sweatybridge/spring-jaeger/tree/bug/stack_pop) that reproduces the issue. You can see the exception after visiting `localhost:8080/a` and inspecting `docker service logs mockdb`.

I've resolved some build problems from previous commits so you should be able to just docker deploy the stack now.

[2017-06-05 12:01] pavolloffay commented on #23
@sweatybridge you are using jaeger-client-java of version 0.19.0 which implements OpenTracing java API 0.22.0 and spring instrumentation which implements OT API 0.30.0.

[code]

The actual error is
[code]
which is because OT API 0.22.0 is not compatible with 0.30.0. In order to make this work the app should use jaeger client which implements OT API 0.30.0, PR for that is here https://github.com/ub

[2017-06-05 12:06] sweatybridge commented on #23
I see I see. I will use 0.0.4 for now :) thank you for looking into this!

[2017-06-05 12:21] pavolloffay commented on #23
I will close it for now as it is not relevant, feel free to re-open or open a new one if the problem remains with a new jaeger client supporting OT 0.30.0

[2017-06-05 12:21] #23 closed

[2017-09-07 07:37] pavolloffay opened #38 "Disable tracerresolver configuration"
Currently, if I want to use tracerresolver there is no way how to tell auto-config that I would like to use `NoopTracer` to quickly "disable the instrumentation". Probably we should provide a configuration property which would use Noop or resolve the tracer.

cc @objectiser @jpkrohling

[2017-09-07 07:55] objectiser commented on #38
As TracerResolver relies on the relevant tracer being in the classpath, wouldn't another option just be to comment out the tracer dependency? Not saying a config option wouldn't be ok, but just looking at alternatives.

[2017-09-07 08:03] pavolloffay commented on #38
Yeah, that is one possibility although it might be inconvenient.

I would like to port https://github.com/redhat-helloworld-msa/ola and other SB services to use tracerresolver. Currently the code use noop is tracer server URL is not specified.

[2017-09-07 08:05] jpkrohling commented on #38
I think your case is one that warrants setting the "skip tracer resolver" flag and dealing with the `GlobalTracer` at your application level. After all, the logic of "if tracer server URL is not specified, use the NoopTracer` is an application logic :)

[2017-09-07 08:11] pavolloffay commented on #38
`if tracer server URL is not specified, use the NoopTracer` it is kind of "a" logic. How would you solve my use case then?

I would like to get rid of all app level logic regarding tracing.  And I would like to be able to enable/disable tracing with some ENV property. (currently it can be done by using noop, we could also use one conf. property on all auto-configs)

[2017-09-07 08:21] objectiser commented on #38
If this was going to be done via env/property - then it would be better done in the TracerResolver itself, so it would be applicable outside any particular instrumentation/framework.

[2017-09-07 08:55] pavolloffay commented on #38
To clarify this issue, the use case is to provide a way to quickly **disable instrumentation**.

I can think of two solutions:
## 1. disable all auto-configs with a property
This is by means is the best from the performance perspective. However, if users are using tracer inside the app it can fail in some scenarios (e.g. fails to autowire tracer bean).

## 2. use noop tracer
The only issue I curre

[2017-09-07 09:15] pavolloffay commented on #38
see also https://github.com/opentracing-contrib/java-tracerresolver/issues/24

[2017-09-25 16:30] pavolloffay opened #40 "Improve skip pattern"
Skip pattern should include all static files and common health endpoints used in spring.

[2017-09-26 09:11] jpkrohling commented on #40
Should we have a single pattern across all places that uses a skip pattern? In other words, should I change the Servlet repository to use the skip pattern you'll use here ?

[2017-09-26 09:16] pavolloffay commented on #40
IIRC servlet instrumentation does not use any default value for skip pattern.

The default value in this repo will probably include spring specific patterns (e.g. spring actuator).

[2017-09-27 13:09] elgris opened #41 "Should new active span be created using current active span as a parent?"
Hi! I'd like to discuss whether it makes sense to instantiate new active spans using possibly existing current active span as a parent. To illustrate this idea, here's an excerpt from `TracingRestTemplateInterceptor.java`
[code]

Which can be changed to:
[code]

What I'm currently trying to solve with this idea is creating a span that covers an operation that includes several outgoing HTTP request

[2017-11-16 15:42] #40 closed

[2017-12-04 15:24] elgris opened #47 "Should client interceptor use more information for generating operation name?"
Currently client interceptor uses only [method of request as an operation name for new spans](https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/client/TracingRestTemplateInterceptor.java#L59):
[code]

Does it make sense to add a request path to `operation name`? Or maybe make an `operation name generator` to su

[2018-01-26 18:54] darrenhaken opened #59 "Fails when using Spring Webflux"
Are you aware this fails with Spring Webflux?

[2018-01-29 09:17] pavolloffay commented on #59
No, thanks for reporting. Do you have any error logs/reproducer? Would you like to submit a fix for it?

[2018-02-10 10:00] darrenhaken commented on #59
I can take a look at submitting a fix sure, I’ll open a PR soon

[2018-02-12 13:18] pavolloffay commented on #59
@darrenhaken thanks :+1:

[2018-02-15 16:05] pavolloffay opened #60 "Expose WebTracingConfiguration as ConfigurationProperties"
Note that it might be related to https://github.com/opentracing-contrib/java-spring-web/pull/34 and should provide the same functionality as requested in that PR.

[2018-02-16 16:11] #60 closed

[2018-03-08 12:04] ask4gilles commented on #38
I'd like to be able to completely skip the autoconfig (like we can do in https://github.com/opentracing-contrib/java-spring-cloud/) It would be the responsibility of the user to inject the tracer with required=false Currently, what would be the alternative to skip web tracing? (for IT tests for example or for some environments where you are not interested in tracing metrics?)

[2018-03-14 11:20] pavolloffay opened #65 "Disable web tracing"
At the moment there is no way to disable web tracing. It includes server side but also rest templates.

Created from https://github.com/opentracing-contrib/java-spring-web/issues/38#issuecomment-371468367

[2018-03-14 11:21] pavolloffay commented on #38
@ask4gilles I have created a separate issue for this: https://github.com/opentracing-contrib/java-spring-web/issues/65. Let me know if you would like to contribute it, it seems like a simple fix.

[2018-03-14 21:14] ask4gilles commented on #65
@pavolloffay I can do it with pleasure.

[2018-04-05 10:04] mdvorak commented on #59
I believe that `TracerAutoConfiguration` and `TracerRegisterAutoConfiguration` does not belong in this library (java-spring-web) at all. Then this jar can be for webflux app excluded completely (and possibly new designed for reactive stack should be created).

However, for easier -starter integration, it I suggest adding `@ConditionalOnClass`. Its easy change on its own, but adding tests will be m

[2018-04-13 09:38] pavolloffay commented on #59
@mdvorak is this resolved by #68 ?

[2018-04-13 12:07] mdvorak commented on #59
Only partially, I did add condition to new config class for client, but did not touch `ServerTracingAutoConfiguration`.
So, add `@ConditionalOnClass(Servlet.class)` and you're done.

[2018-04-13 12:10] geoand commented on #59
Sorry for being late to the party but I see any indication that the module supports Spring 5 yet, much less Webflux which is a non-Servlet Web framework of it's own.

Am I missing something obvious here?

[2018-04-13 12:13] mdvorak commented on #59
@geoand Of course, same can be achieved by `<exclusions>` when referenced by ot-spring-cloud. Still, does not do any harm either.

[2018-05-29 11:46] abhsinh2 opened #71 "FilterRegistrationBean not defined in non spring boot application"
I have not spring mvc application NOT spring boot. In readme, example to extend WebMvcConfigurerAdapter shows use of FilterRegistrationBean which is spring boot class. What should I use for non spring boot application?

is below code fix the problem?
@Override
    public void addInterceptors(InterceptorRegistry registry) {
        registry.addInterceptor(new TracingHandlerInterceptor(tracer)).addP

[2018-05-29 12:22] pavolloffay commented on #47
Span can be modified via decorators. Path should not be used as operation name due to cardinality problems.

[2018-05-29 12:22] #47 closed

[2018-05-29 12:57] pavolloffay commented on #59
I have created #72. Webflux support will need a separate instrumentation for both client and server side.

[2018-05-29 13:29] pavolloffay commented on #71
@abhsinh2 maybe you can use `ServletContextListener` to register the filter there

[2018-05-29 13:39] pavolloffay commented on #71
Here is an example https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web-itest/mvc/src/test/java/io/opentracing/contrib/spring/web/interceptor/itest/mvc/SpringMVCConfiguration.java

[2018-05-31 07:46] #59 closed

[2018-06-09 20:28] abhimanyuseth opened #74 "RestTemplate can't be autowired"
With springBootVersion = '2.0.0.RELEASE'
I'm trying to use autoconfiguration, and using
@Autowired
RestTemplate restTemplate;

This fails with the following error:
***************************
APPLICATION FAILED TO START
***************************

Description:

Field restTemplate in oracle.igcs.tracer.controller.HelloController required a bean of type 'org.springframework.web.client.RestTemplate'

[2018-06-10 00:26] abhimanyuseth commented on #74
If I add my own configuration bean to Autowire restTemplate, I'm unable to load the TracingRestTemplateInterceptor at runtime...
`
@Bean
    public RestTemplate restTemplate(RestTemplateBuilder builder, Tracer tracer) {
        RestTemplate restTemplate = builder.build();
        restTemplate.setInterceptors(Collections.singletonList(new TracingRestTemplateInterceptor(tracer)));

        return re

[2018-06-11 06:45] geoand commented on #74
@abhimanyuseth Have you tried to simply declare a `RestTemplate` bean like so:

[code]

?

[2018-06-11 07:53] abhimanyuseth commented on #74
Yeah, I did. But from what I understand, the RestTemplate object needs to have some interceptors set so that the opentracing-contrib code will trace all REST API requests.
If I create the bean myself, then no tracing is done unless I write my own interceptor.

Please correct me if I'm wrong.
Using opentracing-contrib, How should I get all RestController calls traced if I'm creating the bean myself

[2018-06-11 08:00] geoand commented on #74
@abhimanyuseth When Opentracing's auto-configuration is applied, then the presence of the a `RestTemplate` type bean is enough to have all the necessary interceptors applied.

See [this](https://github.com/opentracing-contrib/java-spring-web/blob/release-0.3.2/opentracing-spring-web-autoconfigure/src/main/java/io/opentracing/contrib/spring/web/autoconfig/RestTemplateTracingAutoConfiguration.java)

[2018-06-11 18:40] abhimanyuseth commented on #74
Thank you!

[2018-06-11 18:40] #74 closed

[2018-06-11 19:03] geoand commented on #74
You are welcome!

[2018-06-13 11:03] pavolloffay commented on #71
@abhsinh2 I will close the issue. If you have more questions feel free to re-open/comment.

The mvc configuration can be found in `opentracing-spring-web-itest/mvc` module

[2018-06-13 11:03] #71 closed

[2018-06-13 11:06] pavolloffay commented on #38
I will close this for now.

At the moment all auto-configurations can be disabled with a property. Tracer configuration has been moved here https://github.com/opentracing-contrib/java-spring-tracer-configuration.

[2018-06-13 11:06] #38 closed

[2018-06-14 10:23] cmoulliard opened #75 "Rename opentracing-spring-web-autoconfigure to opentracing-spring-web-starter"
All the Spring Boot modules = starters containing the definition/list of the dependencies to be packaged like also the code to be used during bootstrap process and to configure the beans contains, part of their name, the word `starter`.

I propose to rename this project from `opentracing-spring-web-autoconfigure` to `opentracing-spring-web-starter` to adopt/follow the same convention. Make sense @

[2018-06-14 11:11] pavolloffay commented on #75
+1 @geoand do you want to fix it?

[2018-06-14 11:12] geoand commented on #75
@pavolloffay Sure thing

[2018-06-14 12:09] #75 closed

[2018-08-30 09:05] pavolloffay opened #78 "Client span is finished before server span"
![screenshot of jaeger ui](https://user-images.githubusercontent.com/5618424/44841797-7b3aba00-ac44-11e8-9aea-670a4f841410.jpg)

`GET` is a client request. `get` is a  server span for that request. The server span should be finished before the client request.

cc @yurishkuro

[2018-08-30 12:36] pavolloffay commented on #78
![screenshot of zipkin - traces](https://user-images.githubusercontent.com/5618424/44851899-12623a80-ac62-11e8-923c-f7a76f5a899a.jpg)

Sleuth has the same behavior - server span is finished after the client span.

[2018-09-26 15:41] ahus1 opened #80 "TracingHandlerInterceptor closes the Scope, even if it hasn't been opened in preHandle()"
I'm using a spring boot application that has several filters.

I observe the following behavior: going in with the request the scope was set by TracingFilter, processing the response the scope was already closed. Looking at TracingHandlerInterceptor it looks like it closes the scope too early after processing the request

----

Debuggig the situation I found that TracingHandlerInterceptor *only so

[2018-09-26 15:46] ahus1 commented on #80
Looking at the code I wonder if the following would work:
* only push a Scope if the Scope has been created locally
* when using pop, only close the Scope that has been popped. If there is no Scope to be popped, TracingHandlerInterceptor hasn't created them, therefore shouldn't close them.

WDYT?

[2018-09-27 07:37] pavolloffay commented on #80
It's bug interceptor should not close the scope started in the filter. Interceptor should close only it's scopes.

Do you want to submit a patch?

[2018-09-27 15:55] ahus1 commented on #80
I'll give it a try and will prepare a patch.

[2018-11-22 10:47] geoand opened #87 "Release for SB 2.x"
We should probably also perform a release supporting SB 2.x (most likely SB 2.1.x).

@pavolloffay How would you like to organize the code for such a release? Would you like to have a separate branch for such a release?
Also, what would you like to do about the release versions?

[2018-11-22 10:52] pavolloffay commented on #87
we could do it in master and use branch for 1.x. About the version maybe release SB as 0.2x.x ?

[2018-11-22 10:55] geoand commented on #87
I agree for the branch but I am a little confused about the versioning scheme :P

[2018-11-22 10:56] objectiser commented on #87
I think it might need a major version bump - so start releasing 1.x - as otherwise, if fixes are required on the SB 1.x branch, then it would require a release of 0.x which would become confused with the SB 2.x compatible versions.

Would suggest have a 0.x branch (as it is based on this libraries version), and master then becomes SB2 compatible releasing 1.x versions of this lib.

[2018-11-22 10:57] pavolloffay commented on #87
are there any breaking changes in SB2 web package which would influence us?

[2018-11-22 10:58] geoand commented on #87
@pavolloffay I haven't tested yet, but I don't expect there to be any breaking changes :)

FWIW, I like the suggestion from @objectiser on how to handle the versions

[2018-11-22 11:35] geoand commented on #87
Looks like there are some mockito issues that I need to sort out....

[2018-11-30 09:53] #87 closed

[2018-12-03 14:17] gytis opened #89 "Upgrade to Spring Boot 2.1.1.RELEASE"

[2018-12-03 14:20] geoand commented on #89
@gytis Do you want to update this? It should just be a matter updating the maven properties since we already moved to SB 2.1.0 last week

[2018-12-03 14:32] gytis commented on #89
Sure, will raise a PR.

[2018-12-03 14:35] geoand commented on #89
Once we merge the PR I will do a release and then also update https://github.com/opentracing-contrib/java-spring-jaeger

[2018-12-03 15:00] geoand commented on #89
Fixed via 094de67

[2018-12-03 15:00] #89 closed

[2018-12-14 00:39] etsangsplk opened #91 "[Question] Example / how to use SpanDecorator?"
It looks like use can supply their own span decorators with their tracer 👍
https://github.com/opentracing-contrib/java-spring-web/blob/0933caece7de11ae9f9d411113a5473d35288cf8/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/interceptor/TracingHandlerInterceptor.java#L50
is there an example of how to do it and wire it up? It is not at all obvious how to do it.
Only got to the

[2018-12-21 15:01] pavolloffay commented on #91
What is not clear? Just implement the decorator interface [1] and supply it to `TracingHandlerInterceptor`. If you are using SB starter `opentracing-spring-web-starter` you can expose the decorator impl as a bean and instrumentation should pick it up.

[1]:  https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/int

[2018-12-21 15:01] pavolloffay commented on #91
I will close this, feel free to reopen if you run into any issues.

[2018-12-21 15:01] #91 closed

[2018-12-27 22:36] wcarmon opened #92 "Deprecated usage of scopeManager.activate(..., false)"
Your usage:
https://github.com/opentracing-contrib/java-spring-web/blob/f5a11436e98615fb7368e2b7acdad380e890cf8e/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/interceptor/TracingHandlerInterceptor.java#L83

See the source for 0.32.x:

https://github.com/opentracing/opentracing-java/blob/release-0.32.0-RC1/opentracing-api/src/main/java/io/opentracing/ScopeManager.java#L115

[2019-02-15 03:38] wuyupengwoaini commented on #78
I found the same problem
<img width="942" alt="default" src="https://user-images.githubusercontent.com/5652901/52833071-2fa69a80-3116-11e9-88b1-4468c8b39075.png">

[2019-02-19 01:01] etsangsplk opened #93 "HandlerInterceptorSpanDecorator Not run"
I am using https://github.com/spring-projects/spring-petclinic as a simple test example to test out how to use the library. A jaeger Tracer is configured and created. I only added PetClinicApplicationConfiguration that implements WebMvcConfigurer tow wireup a tracer and and TracingHandlerInterceptor. When I run the app, I can see the log message  "TracingHandlerInterceptor added". But when I bring

[2019-02-19 12:43] pavolloffay commented on #78
* the server filter is invoked after the request is closed
* or the client filter is invoked before the request is closed

[2019-02-21 01:18] etsangsplk commented on #93
Closing. FilterRegistrationBean has not been initialized properly.

[2019-02-21 01:18] #93 closed

[2019-02-21 02:03] wuyupengwoaini commented on #78
But I don't find any evidence to prove it.

could it https://github.com/jaegertracing/jaeger-client-java/issues/192  maybe the reason?

[2019-03-19 17:17] derXear opened #97 "No Service dependencies shown in Jaeger"
Hello,

i have a minimal example with 2 Spring Boot Apps where one calls the other.
I can see all spans of the apps in the Jaeger UI, but no dependency between the apps. Shouldn't this already work by autoconfiguration?

Here is a [link](https://github.com/derXear/opentracing-spring-boot-jaeger-example) to the minimal example. If it's not a bug, maybe someone could push me into the right direction

[2019-03-19 17:57] pavolloffay commented on #97
Closing per https://github.com/opentracing-contrib/java-spring-jaeger/issues/42

[2019-03-19 17:57] #97 closed

[2019-04-11 17:36] matheusfm opened #98 "Actuator endpoint skipped by default"
The Spring Boot 2.x had changed the actuator base path to `/actuator` and is not being skipped by default.
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide#base-path

[2019-04-12 08:15] geoand commented on #98
Thanks for reporting @matheusfm! The PR from @larchanjo should take care of it

[2019-04-17 13:41] pavolloffay commented on #98
@geoand do you mean #99? As it is merged can be this closed?

[2019-04-17 13:42] geoand commented on #98
Yup, my bad, forgot to close this.

[2019-04-17 13:42] #98 closed

[2019-04-18 06:09] larchanjo commented on #92
@wcarmon I don't understand why this is a issuer?

[2019-04-18 07:59] pavolloffay commented on #92
This is not an issue, however we should migrate from a deprecated API anyways. I will close this. Feel free to comment if there are more questions.

[2019-04-18 07:59] #92 closed

[2019-04-18 11:53] wcarmon commented on #92
@larchanjo It's only an issue for people that want to use the newest versions of the OpenTracting API.

If people are stuck on older versions, they won't notice.

@pavolloffay That's fine, I was pointing out where this lib might break in the future.  (Due to misalignment with the OpenTracing java api)

[2019-05-02 16:28] ask4gilles opened #103 "Avoid circular beans creation when zuul is on the classpath"
see context here https://github.com/opentracing-contrib/java-spring-cloud/issues/219

[2019-05-03 09:32] #103 closed

[2019-06-12 17:41] lubinson opened #106 "Spans are not connected after upgrading spring-web-starter"
Dear Community,

Different services spans can not be connected after upgrade below old version
[code]
to new version
[code]

Before the upgrading, everything is ok.

For example, Service A call B and C, we inject the tracing context to the HTTP header when calling Service B and C.  The sampler is ratelimiting 1. Span `Calling Service B` and `Calling Service C` are created in Service A and under th

[2019-06-13 11:54] pavolloffay commented on #106
hi @lubinson, what client/technology are you using to create request from service A to services B and C?

Ultimately would you be able to share a small reproducer?

[2019-06-13 16:30] lubinson commented on #106
@pavolloffay

Thanks for your reply. After a deep looking, I found the Spring Webflux Webclient is auto injected with a filter TracingExchangeFilterFunction. This actually starts a new Tracing (Tracing 2 and Tracing 3) to Service B or Service C, which the tracing starts with span  `GET` and `POST`. And I think this injection overwrote the tracing context we injected so the linked spans are broken.

[2019-06-14 10:51] geoand commented on #106
@lubinson Since you have already done an initial investigation and have an idea of how to fix the problem, care to create a PR for it?

[2019-06-27 15:39] SevaSafris opened #107 "Information in README.md is confusing regarding versions"
The README.md says:

What "versions" is this referring to? Is this referring to versions of this Instrumentation Plugin? Because there are no versions 1.x.y, but instead there are versions 2.x.y.

[2019-06-27 15:52] geoand commented on #107
Good catch, thanks! When this was created, the latest version was 1.0.0. I will update it.

[2019-06-27 15:53] #107 closed

[2019-07-02 08:50] scoof opened #108 "Unmatched dependencies between beans"
ServerTracingAutoConfiguration has the following dependency:
@ConditionalOnWebApplication(type = ConditionalOnWebApplication.Type.SERVLET)
but is also responsible for loading WebTracingProperties.
SkipPatternAutoConfiguration depends on WebTracingProperties being loaded, but is not conditional on Type.SERVLET. Thus, if you run a unittest using webEnvironment = SpringBootTest.WebEnvironment.NONE, S

[2019-07-03 08:28] geoand commented on #108
Thanks for reporting the issue.

I opened #109 which should fix the problem.

[2019-07-03 09:51] #108 closed

[2019-07-03 15:15] aleksvidak commented on #41
@pavolloffay can you tell me where automatic linking is done in the interceptor? Because with tracer.buildSpan we do not inject any parent context? At least I don't see it on the master branch.

[2019-07-08 01:38] williamokano opened #111 "TracingFilter and ServletFilterSpanDecorator"
Hi, in this line https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web-starter/src/main/java/io/opentracing/contrib/spring/web/starter/ServerTracingAutoConfiguration.java#L87 the lib is checking for some `ServletFilterSpanDecorator` decorators. Yesterday I had to create a custom decorator for me and I noticed that if I register my custom decorator, the `STANDARD

[2019-07-08 04:54] geoand commented on #111
Hello,

That sounds reasonable to me, but @pavolloffay is the opentracing expert here :)

[2019-07-16 13:36] pavolloffay commented on #41
Statement ` .asChildOf(tracer.activeSpan())` is not necessary the active span should be added as parent automatically.

[2019-07-17 08:46] pavolloffay commented on #111
If somebody whats to provide custom decorators it's his responsibility to provide all the decorators, that is the current deal.

Your proposal makes sense, I think most people just want to add more stuff in the decorators rather than omitting standard tags. If we do this change we should do it globally for all decorators we have.

[2019-07-17 12:44] aleksvidak commented on #41
When you say automatically, where is that in the code exactly? I tried to look for that piece of code on the master branch, but was not successful. Currently, for me, it does not work.

[2019-07-17 13:26] malafeev opened #112 "Run tests on Netty for WebFlux"
WebFlux doesn't require jetty or tomcat.
It uses netty.
Is it possible to get rid of jetty from WebFlux integration tests?

[2019-07-17 13:34] geoand commented on #112
Is this causing problems for you for some reason?

[2019-07-17 13:38] malafeev commented on #112
yes, it looks like TracingSubscriber.onComplete() is never called, therefore span is not finished:
https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/webfilter/TracingSubscriber.java#L77

[2019-07-17 13:39] pavolloffay commented on #41
The tracer implementation should do it.

[2019-07-17 13:42] geoand commented on #112
So I might be missing something here... Is this tied to another issue perhaps?

[2019-07-17 13:48] malafeev commented on #112
If I use in my app tomcat then I see that `TracingSubscriber.onComplete()` is called.
But if I don't use tomcat and rely on netty which comes with spring-webflux I don't see calling TracingSubscriber.onComplete().
That's why I'm curious why integration test for WebFlux is based on jetty.
I use the latest version of spring.

[2019-07-17 13:53] geoand commented on #112
@csabakos can you shed some light on this perhaps since you were the one that added those tests?

Thanks

[2019-07-17 15:17] csabakos commented on #112
@geoand WebFlux should work equally over any runtime (Tomcat, Jetty, Netty, etc.), so there was no reason to switch away from the runtime that was already used in other tests.

If the observed behavior is different on Netty, then I think it would make sense to add Netty-based integration tests to make sure that all cases are covered.

[2019-07-17 15:27] geoand commented on #112
So you just added like that for convenience, thanks that's good to know.

@malafeev Would you like to take a stab at it? If you are unavailable, I can take a look but it will probably be a while...

[2019-07-17 15:31] malafeev commented on #112
@geoand it would be great if you take a look even in a while. Currently I don't have enough time.

[2019-07-17 15:33] geoand commented on #112
Same here :).

I'll take a look as soon as I can

[2019-08-12 09:29] ancore opened #113 "SkipPattern for Management Endpoints doesn't work with context-path"
The skip pattern for actuator endpoints contains the context-path, but the TracingFilter tries to match the skip pattern without context-path.

The following is added to the configured default skip pattern:
`/user/api/management/(health|health/.*|info|info/.*)`

The method `TracingFilter#isTraced` removes the context-path from the request URI:
`httpServletRequest.getRequestURI().substring(httpServ

[2019-08-12 10:06] pavolloffay commented on #113
cc)  @larchanjo @ask4gilles  could you please have a look. You worked on the actuator part.

Does the context path affect the actuator endpoints?

I think we should remove the context path from the actuator skip pattern and add e2e test with configured context-path.

Would you be interested in submitting a PR?

[2019-08-12 11:02] ancore commented on #113
I'm trying to understand the unit tests and found this while debugging SkipEndPointsWithContextPathAndBasePathTest#testTraceHealthCareEndpoint:

![istTraced](https://user-images.githubusercontent.com/1880335/62860697-53cbe880-bd01-11e9-8656-af6a83774a1d.png)

[2019-08-12 11:17] ancore commented on #113
The TestRestTemplate expands the URL automatically by context-path (RestTemplate#execute).
When you prefix your URL to call for tests with the context-path
`private static final String HEALTHCARE = CONTEXT_PATH + "/healthcare";`
it will be there twice and therefore can be removed once.

I think, the unit test is wrong and hides the actual error I mentioned in my initial post.

I would not like to

[2019-08-12 14:14] ask4gilles commented on #113
@pavolloffay @ancore I'll have a look at this tomorrow.

[2019-08-13 08:57] ask4gilles commented on #113
@ancore In order to gain time, can you please provide a minimal project sample to reproduce your issue? Thanks!

[2019-08-14 08:59] ancore commented on #113
You will see the effect when you remove `CONTEXT_PATH +` from
`private static final String HEALTHCARE = CONTEXT_PATH + "/healthcare"`

[2019-08-14 09:28] ask4gilles commented on #113
@ancore What's "the effect"?
If I removed it, I still see it traced, which is normal.
What's your issue exactly? An actuator endpoint traced which should not or the other way around?
When you say:

/user/api/management/(health|health/.*|info|info/.*)

Did you add this configuration yourself or is it the result that you see?
It would be easier to have a simple example with your configuration. Thank

[2019-08-15 07:23] ancore commented on #113
Module: io.opentracing.contrib:opentracing-spring-web-starter:2.1.3-SNAPSHOT
Class: SkipEndPointsWithContextPathAndBasePathTest

Let's focus one one test:

[code]
Debugging:  Breakpoint at line 271 in io.opentracing.contrib.web.servlet.filter.TracingFilter

Inspection of httpServletRequest.getRequestURI shows /myapp *two times*.
When using a TestRestTemplate, the configured context-path is added a

[2019-08-15 14:57] ask4gilles commented on #113
@ancore Thanks, makes sense. See attached PR.

[2019-08-16 08:35] #113 closed

[2019-08-22 11:41] geoand commented on #112
I want to upgrade to Opentracing 0.33 first. Then I'll look into this

[2019-10-05 12:42] mariusgiger opened #117 "Disable reporting spans for actuator endpoints"
Hi guys,

Reposting [this](https://github.com/opentracing-contrib/java-spring-jaeger/issues/63#issue-494612213) here.

When using Opentracing with Jaeger for Spring Cloud Gateway with actuator endpoints enabled (e.g. /actuator/health for K8s readiness probe), all calls to the actuator endpoints produce a span. Is there a way to disable this behaviour?

Config:
[code]

Cheers,
Marius

[2019-10-09 11:45] geoand commented on #117
Endpoints can be manually excluded as well, see: https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web-starter/src/test/resources/application-test.yml#L22

But definitely the actuator endpoints should not be taken into account

[2019-10-13 09:55] mariusgiger commented on #117
Thanks @pavolloffay and @geoand for the replies.

Per default, the actuator health endpoint is already ignored in the skip pattern, which is fine. However, the queries for the healthiness of a database (e.g. Mysql or Mongo) produce a span, which are invoked as part of the request to `/actuator/health`.

<img width="865" alt="spans" src="https://user-images.githubusercontent.com/14012777/66713880-0

[2019-10-14 05:15] geoand commented on #117
@mariusgiger do you know which URLs are used for querying the healthiness of the database?

[2019-10-14 13:55] denisw commented on #92
The deprecated `ScopeManager` methods have been remove from the OpenTracing v0.33 API. This has now thus become an issue because it prevents teams from upgrading Jaeger to v1.0.0, which implements the v0.33 API.

[2019-10-14 14:04] geoand commented on #92
I do plan on working on the move to the latest OpenTracing  and Jaeger Client versions in the next few weeks.

[2019-10-14 19:49] mariusgiger commented on #117
@geoand these spans get produced when calling `/actuator/health`.

[2019-10-15 05:01] geoand commented on #117
OK, thanks.

@ask4gilles any idea off the top of your head?

[2019-10-15 05:31] ask4gilles commented on #117
Hi @mariusgiger @geoand and @pavolloffay

All actuator endpoints are skipped by default.

From what I understand from the above, this could be caused by the underlying select queries targeting the database(s) in the health actuator itself. I think you could verify it easily by either disabling the DB health check inside the actuator (```management.health.db.enabled=false```) or disabling the SQL t

[2019-10-15 07:07] mariusgiger commented on #117
Hi @ask4gilles,

Indeed, there are no more spans if the healthcheck for the database is disabled.

i.e. in my case:
[code]

Most probably this also happens for [other dependencies](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#_auto_configured_healthindicators) for healthchecks that support tracing.

Is it possible to disable tracing for a package r

[2019-10-15 08:01] ask4gilles commented on #117
@mariusgiger thanks for the feedback.
If you want to keep your DB health checks and avoid them to be traced, you could:

1. If you are not interested in JDBC tracing: ```opentracing.spring.cloud.jdbc.enabled=false```
2. If you want to keep the JDBC tracing but exclude the health query, add it to this property ```opentracing.spring.cloud.jdbc.ignoreStatements```

I don't see the equivalent properti

[2019-10-15 08:04] geoand commented on #117
Thanks for checking @ask4gilles!

[2019-10-17 21:07] vbhumireddy opened #118 "Spring MVC integration example"
Dear Sir/Madam,
I am trying to integrate my Spring MVC applications with Opentracing and Jaeger/Zipkin. I didn;t find any examples or API that can support Spring MVC.

As given in documentation FilterRegistrationBean is a SpringBoot API class, But I want to try to integrate with Spring MVC.

Can you please help me. Appreciate your help in advance.

[2019-10-18 08:35] pavolloffay commented on #118
This module contains integration tests with spring MVC https://github.com/opentracing-contrib/java-spring-web/tree/master/opentracing-spring-web-itest/mvc

[2019-10-18 08:35] #118 closed

[2019-10-21 17:44] mariusgiger commented on #117
Thank you @ask4gilles for the response! This resolves the issue for me.

[2019-10-21 18:20] ask4gilles commented on #117
@mariusgiger Awesome, glad it helped!

[2019-10-24 15:32] ask4gilles commented on #117
@geoand this one can be closed 😉

[2019-10-24 15:32] geoand commented on #117
:+1:

[2019-10-24 15:32] #117 closed

[2019-10-25 07:32] ashishsomavanshi commented on #23
h

[2019-11-26 16:59] denisw commented on #92
Why is this closed? There are still uses of `ScopeManager#activate(Span, boolean)` in the codebase.

[2019-11-27 14:12] whiskeysierra commented on #111
There should still be the ability to completely override the defaults because some tags in the standard are not desired (e.g. `http.url` exposing path parameters).

[2019-11-27 14:13] geoand commented on #111
@whiskeysierra would you be interested in contributing that?

[2019-11-27 14:26] whiskeysierra commented on #75
Just want to leave this here:

https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-custom-starter

Auto configurations and starters can be kept separate as well.

[2019-11-27 14:29] whiskeysierra commented on #111
I'd just leave it as it is, tbh. The current behavior is a) already established and b) allows for all scenarios (combine with standard and completely configure it by hand).

[2019-11-27 14:33] whiskeysierra opened #120 "Why is TracingHandlerInterceptor conditional on missing TracingFilter?"
Code in question:

https://github.com/opentracing-contrib/java-spring-web/blob/8b802bafbc2ae81cb4677e0a9273a2f6a54519ea/opentracing-spring-web-starter/src/main/java/io/opentracing/contrib/spring/web/starter/ServerTracingAutoConfiguration.java#L100-L102

The source code of `TracingHandlerInterceptor` seems to suggest that it's meant to be used in conjunction with the `TracingFilter`:

https://githu

[2019-11-27 14:35] geoand commented on #120
@pavolloffay do you remember? I think you added that piece of code.

[2019-11-27 23:14] scottmf opened #121 "upgrade to opentracing 0.33.0"
Please upgrade the libs to use opentracing 0.33.0.  This library currently breaks due to some incompatibilities between 0.32.0 and 0.33.0

[2019-11-27 23:20] scottmf commented on #121
being address here -> https://github.com/opentracing-contrib/java-spring-web/pull/116

[2019-11-29 06:20] ttddyy opened #123 "Clarify project status"
On the README, it says

what does it really mean?

Is it indicating this project is inactive; so, don't use `java-spring-web` and move to `opentracing-spring-cloud`??

It is very confusing.

Appreciate clarifying the intention there.

[2019-11-29 07:50] geoand commented on #123
Hi,

taken out of context I agree it's confusing. However if you read the description after that I think  you'll have a better understanding.

The project are both equally active, they just address different needs.

If you feel that this should be made more clear, we are of course open to suggestions

[2019-11-29 15:47] pavolloffay commented on #92
It will be done in https://github.com/opentracing-contrib/java-spring-web/pull/116

[2019-11-29 17:20] pavolloffay commented on #120
Based on git blame https://github.com/opentracing-contrib/java-spring-web/pull/39

[2019-11-29 17:55] whiskeysierra commented on #120
That pull request doesn't really explain why though.

On Fri, 29 Nov 2019, 18:20 Pavol Loffay, <notifications@github.com> wrote:

[2019-11-29 18:04] larchanjo commented on #92
Ok, thank you soo much!

[2019-11-30 09:11] #121 closed

[2019-12-01 09:39] ttddyy commented on #123
I think saying _"Use opentracing-spring-cloud instead"_ in title gives impression that the statement has concluded only by the title; thus people may think the title is saying - just to use `opentracing-spring-cloud` instead of `java-spring-web`.

I think it is better to state the difference between those two projects and gives user's choice that you may choose `opentracing-spring-cloud` if that i

[2019-12-01 13:25] geoand commented on #123
Thanks!

I'll update it soon

[2019-12-02 07:13] #123 closed

[2019-12-18 16:12] Xyaren opened #124 "Error when running @SpringBootTest with SpringBootTest.WebEnvironment.NONE"
Running my project tests with
[code]
results in

[code]

Using MOCK works fine.

[2019-12-18 16:33] Xyaren commented on #124
actually already fixed in #108 / #109

[2019-12-18 16:33] #124 closed

[2020-01-13 14:54] lujiajing1126 opened #125 "`Scope` should be closed in the method of `afterConcurrentHandlingStarted` for async request"
For async requests, thread-bound resources should be cleaned in method `afterConcurrentHandlingStarted` of `TracingHandlerInterceptor` interceptor as is suggested in the document [AsyncHandlerInterceptor](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/servlet/AsyncHandlerInterceptor.html).

https://github.com/opentracing-contrib/java-spring-web/blob/5262c0

[2020-01-29 14:10] eungju opened #127 "Putting handlers into log fields makes ZipkinV2Reporter cause Gson errors"
1. TracingHandlerInterceptor puts a handler object into log fields. See [this](https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/interceptor/HandlerInterceptorSpanDecorator.java#L77).
2. ZipkinV2Reporter converts log fields to JSON via Gson to build JaegerSpan annotations. See [this](https://github.com/jaegertr

[2020-02-13 18:26] fabiomargarido opened #128 "Version 0.3.4 fails with OpenTracing API 0.33.0"
Is it possible to have [this commit](https://github.com/opentracing-contrib/java-spring-web/commit/696627213665174f3df5e4dbad405045066d54d0) (or at least the API bump part) integrated into the 0.3 branch? I'm stuck in an older Spring Boot version and right now 0.3.4 fails with the latest OpenTracing API because `startActive()` has been removed and not only deprecated.

Thanks.

[2020-02-14 07:49] pavolloffay commented on #128
0.3 branch is using OpenTracing 0.31.0 https://github.com/opentracing-contrib/java-spring-web/blob/release-0.3.4/pom.xml. The commit you referencing is bumping OT API to 0.32.0.

versions 2.x.x are using older OT version. We do not plan to support matrix of OT versions and spring boot.

[2020-02-14 08:07] geoand commented on #128
@fabiomargarido we don't plan to support that, but I should be easy for you to do a fork an cherry pick the necessary commits.
I assume you would only keep your fork until you can move you service to a new version of Spring Boot

[2020-02-21 01:26] shtaft opened #129 "Bug: Span has already been finished; will not be reported again"
Hey team! We've recently stumbled on a bit of a contrived bug in this library when using it with Webflux.

We are subscribing to a Flux. This Flux makes requests to a paged API. Each element emitted by the Flux is a response (page).

In our situation, we'd like to perform a one-time action on the first page. We achieved this using `take`. When calling `take(1)` on the Flux, a "complete" event is f

[2020-02-21 08:30] pavolloffay commented on #129
hi @shtaft thanks for reporting this issue. The multiple `finish` type of error is sometimes hard to solve if the framework invokes calculation multiple times.

Would you like to submit a PR to fix this?  IIRC in some cases we had used a wrapper for span to avoid double finish.

[2020-03-27 13:09] fabiomargarido commented on #128
Ok, thanks for the response guys.

[2020-03-27 13:09] #128 closed

[2020-04-07 13:17] piyushmor opened #130 "spans not marked as error when Exceptions handled by @ControllerAdvice"
version tested on: 0.4.0
spans are not marked with `error=true` when the exceptions are caught using a `ControllerAdvice`. Using ControllerAdvice is very common and this causes a lot of errors to be missed out in many of operations.

[2020-09-02 15:07] kohegen opened #131 "TracingHandlerInterceptor order cannot be changed and even overridden"
`TracingHandlerInterceptor`  is created in that way there is no possibility of changing order of that interceptor like it's done for `TracingFilter`.  (both beans are configured in `ServerTracingAutoConfiguration`)

IMO it should be registered using InterceptorRegistration in similar way to `TracingFilter`.
Also those configuration should be separated because if I want to register just filter then

[2020-10-01 15:40] NHebrard opened #133 "Span not finished when subscription is cancelled"
Hello!

In the `TracingOperator` component is there any good reason the not finish the span when the wrapped source has been canceled?

I would change
[code]
To
[code]

Happy to contribute if needed!

Thanks.

[2020-10-02 05:03] geoand commented on #133
Hi,

that seems reasonable to me

[2020-10-05 11:51] NHebrard commented on #133
@geoand Would you mind triggering a release?

[2020-10-05 12:05] geoand commented on #133
I actually want the dust to setttle regarding the previous release, so why don't you ping me again please towards the end of the week?

[2020-10-05 12:18] NHebrard commented on #133
This bug fix is somehow important for my team as we would like to have a complete trace visualization in the Jaeger UI.
But, we can wait a few days more as the number of impacted spans is low.

Thanks!

[2020-10-05 12:23] geoand commented on #133
Cool :)

[2020-10-06 11:48] winster opened #135 "Span finishes before webclient completes"
Please take a look at https://github.com/winster/jaeger-trace-reactive

This is a spring boot application with opentracing. As per the doc, java-spring-cloud supports webflux and webclient. But the trace is finished before the reactive flow is completed when there is a webclient call.

Initial analysis shows that following method are invoked everytime webclient makes http request.

    TracingExch

[2020-10-12 07:43] NHebrard commented on #133
Hello,
Sorry to bother you again. Can we plan a release if there is no issue on your side?

Thanks!

[2020-10-14 08:15] NHebrard commented on #133
Thanks for the new release!

[2020-10-14 08:15] #133 closed

[2020-12-14 13:27] NHebrard opened #140 "Span customization - Extend WebFluxSpanDecorator"
Hello!

I need to customize a span right after its creation and before its activation (injecting some baggage items).

I am encountering this need for both regular Servlet based applications and WebFlux applications.

In the Servlet world, it’s totally feasible thanks to a ` ServletFilterSpanDecorator.onRequest()` which is invoked right after the span creation and before its activation.
See [Traci

[2020-12-14 16:08] geoand commented on #140
Hi,

That sounds good to me! Feel free to contribute :)

[2021-02-11 10:42] micand91 commented on #129
Hi,

Is there any progress or proposed solution/workaround for this issue? My analysis concludes that this does not have any functional impact on our application, besides the WARN trace that pollutes the log. I am correct in analysis?

[2021-03-03 07:01] ncoutinho commented on #129
@micand91 same issue here. Anyway to stop the warnings polluting the log. Warning messages seems to ignore defined log levels on application

[2021-03-30 13:12] bruno-vollino opened #142 "Skip patterns does not apply to RestTemplate client requests"
Hi, I've noticed that the skip url pattern configured by property opentracing.spring.web.skipPattern does not apply to RestTemplate requests.

My application uses RestTemplate to perform regular health check requests to other applications, which I need to stop tracing. Is there any way to achieve that?

I am looking into the code and I believe the TracingRestTemplateInterceptor may receive the Pat

[2021-04-16 15:03] zeitlinger opened #143 "use controller method name as operation name in webflux"
In webflux, the [http method is used as operation name](https://github.com/opentracing-contrib/java-spring-web/blob/e394c57455bd60ea05a325a1417152c0b8386f56/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/webfilter/TracingOperator.java#L68).

Preferably, this should be the controller method name, as is already the case in non-webflux spring.

[2021-07-22 15:17] techdeba901 opened #144 "Span object is null when passing RequestEntity<?> as a request parameter"
I am using **Webflux** and **Netty** in my spring boot app. RequestEntity<String> is the request parameter in my controller class. I am getting 500 'internal server error' for RequestEntity as a parameter. But this service is giving response status 200  for other inputs.

Controller class
-----------------

[code]

### Expected behavior
Http Status: 200(Ok)

### Actual behavior

Http Status: 500(I

[2021-07-25 04:22] kusanyao opened #145 "TracingRestTemplateInterceptor does not support sorting"
I want to execute another interceptor to add tags after this interceptor creates a span, but this interceptor does not support sorting.

[2021-08-19 01:28] jonathanmdr opened #146 "Bug: (java.lang.IllegalArgumentException) Service name must not be null or empty"
In the Spring Boot project with version `2.3.7.RELEASE`, when added the dependency below in `pom.xml`:

[code]

And configured the below properties in `application.properties`:

[code]

When running the application, It causes the below throwable in the console:

[code]

Notice the property  `opentracing.jaeger.enabled` is defined with `false` and the `opentracing.jaeger.service-name` property is p

[2021-11-27 16:43] ahmedju commented on #117
Please any update for this issue ?

[2021-11-30 11:58] mihkelmuur opened #147 "opentracing-spring-web-starter incompatible with Spring Boot 2.6"
After update to Spring Boot 2.6 an application relying on `opentracing-spring-web-starter` fails to start:
[code]

The [Javadoc on `ManagementServerProperties.Servlet.getContextPath()`](https://docs.spring.io/spring-boot/docs/2.5.7/api/org/springframework/boot/actuate/autoconfigure/web/server/ManagementServerProperties.Servlet.html#getContextPath--) suggest to replace `ManagementServerProperties.g

[2022-05-03 11:17] bzdgn commented on #147
Is there any progress for the fix for this issue?

[2022-07-01 16:24] jonathanmdr commented on #146
This issue has been reported to: https://github.com/opentracing-contrib/java-spring-jaeger/issues/144#issue-1291601166

[2022-07-01 16:24] #146 closed, assigned to nobody